@model List<ScribeX.BookStore.Models.Employee>;

    @{
        Layout = "_Layout";
    }
    <style>
        th,td{
            padding: 5px;
        }
        thead{
            background-color: #3160b1;
            color: #ffffff;
        }
    </style>
    <h1>List of All the Employees...</h1>
    <table class="table-bordered table-hover" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>DOB</th>
                <th>DOJ</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employees in Model)
            {
                <tr>
                    <td>@employees.Id</td>
                    <td>@employees.Name</td>
                    <td>@employees.DOB</td>
                    <td>@employees.DOJ</td>
                    <td>@employees.Department</td>
                </tr>
            }
        </tbody>
    </table>
